/* Styling for ul */
ul {
  list-style: none; /* Removes the default bullet points */
  padding: 10px; /*Creates space around ul*/
}
/* Styling for li */
li {
  padding: 10px; /*Creates space around li*/
  border: 1px solid #ccc; /* Adds a border around li */
  width: 200px; /* Sets the width of li */
  background-color: blueviolet; /* Sets the background color of li */
  color: white; /* Sets the text color of li */
}