/* The app is a grid layout with 6 columns */
#app {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
} 
/* Each character is a grid item */
#app > .character {
  background-color: black;
  margin: 10px;
  border-radius: 20px;
  width: fit-content;
}
/* Each character has a title and an image */
#app > .character > h1, h2 {
  color: white;
  text-align: center;
}
#app > .character > img {
  width: 100%;
  border-radius: 20px;
}

/* For laptop */
@media screen and (max-width: 1200px) {
  /* The app is a grid layout with 4 columns */
  #app {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
  /* Each character is a grid item */
  #app > .character {
    background-color: black;
    border-radius: 20px;
    
    width: 200px;
  }
  /* Each character has a title and an image */
  #app > .character > h1, h2 {
    color: white;
    text-align: center;
  }
  #app > .character > h1 {
    font-size: 28px;
  }
  #app > .character > h2 {
    font-size: 22px;
  }
  #app > .character > img {
    width: 100%;
    border-radius: 20px;
  }
}

@media screen and (max-width: 600px) {
  /* The app is a grid layout with 2 columns */
  #app {
    display: grid;
    grid-template-columns: auto auto;
  }
  /* Each character is a grid item */
  #app > .character {
    background-color: black;
    border-radius: 20px;
    
    width: 200px;
  }
  /* Each character has a title and an image */
  #app > .character > h1, h2 {
    color: white;
    text-align: center;
  }
  #app > .character > img {
    width: 100%;
    border-radius: 20px;
  }
  
}