.nav {
    display: flex; /* Displays nav as flex */
    list-style: none; /* Removes default list styling */
    padding: 0; /* Removes default padding */
    margin: 0;  /* Removes default margin */
    gap: 1rem; /* Adds a gap of 1 rem between items */
    font-size: 23px; /* Sets font size to 23px */

    .active {
        border-bottom: 3px solid black; /* Adds a black bottom border to active link */
    }
}
.nav a {
    text-decoration: none; /* Removes underline from links */
    color: black; /* Sets link color to black */
}

.nav a:hover {
    border-bottom: 3px solid black; /* Adds a black bottom border on hover */
}
